<?xml version="1.0" ?>
<!-- Robotiq Hand-E parallel gripper -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <group name="hande_gripper">
        <link name="robotiq_hande_coupler"/>
        <link name="robotiq_hande_link"/>
        <link name="robotiq_hande_end"/>
        <link name="robotiq_hande_left_finger"/>
        <link name="robotiq_hande_right_finger"/>
        <joint name="robotiq_hande_left_finger_joint"/>
        <joint name="robotiq_hande_right_finger_joint"/>
    </group>

    <group_state name="hande_open" group="hande_gripper">
        <joint name="robotiq_hande_left_finger_joint" value="0.025"/>
    </group_state>
    <group_state name="hande_closed" group="hande_gripper">
        <joint name="robotiq_hande_left_finger_joint" value="0"/>
    </group_state>

    <end_effector name="hande_gripper" parent_link="flange" group="hande_gripper"/>

    <!-- Hand-E collision rules -->
    <disable_collisions link1="robotiq_hande_coupler" link2="robotiq_hande_left_finger" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="robotiq_hande_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="robotiq_hande_right_finger" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="tool_block" reason="Adjacent"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="robotiq_hande_coupler" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="robotiq_hande_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="robotiq_hande_right_finger" reason="Default"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="tool_block" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="robotiq_hande_left_finger" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="robotiq_hande_right_finger" reason="Adjacent"/>
    <disable_collisions link1="robotiq_hande_link" link2="tool_block" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="robotiq_hande_link" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="tool_block" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="robotiq_hande_right_finger" link2="zivid_base_link" reason="Never"/>

    <!-- Shared tool_block + camera collision rules -->
    <disable_collisions link1="tool_block" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="tool_block" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="tool_block" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="tool_block" link2="zivid_arm_mount" reason="Adjacent"/>
    <disable_collisions link1="tool_block" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="wrist_2_link" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="wrist_2_link" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="wrist_3_link" link2="zivid_arm_mount" reason="Never"/>
    <disable_collisions link1="wrist_3_link" link2="zivid_base_link" reason="Never"/>
    <disable_collisions link1="zivid_arm_mount" link2="zivid_base_link" reason="Adjacent"/>
    <disable_collisions link1="flange" link2="zivid_arm_mount" reason="Adjacent"/>
    <disable_collisions link1="flange" link2="tool_block" reason="Never"/>
</robot>
