<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wrist_extension">

  <xacro:macro name="wrist_extension" params="parent_link xyz:='0 0 0' rpy:='0 0 0' scale:='0.001' mass:='0.3'">

    <link name="wrist_extension">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cms_robot_description/meshes/tool_exchanger/EX-50-35_wrist_extension.stl"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
        <material name="aluminium">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cms_robot_description/meshes/tool_exchanger/EX-50-35_wrist_extension.stl"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0"
                 iyy="0.0002" iyz="0.0"
                 izz="0.0003"/>
      </inertial>
    </link>

    <joint name="wrist_extension_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="wrist_extension"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

  </xacro:macro>

</robot>
