<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tool_block">

  <xacro:macro name="tool_block" params="parent_link xyz:='0 0 0' rpy:='0 0 0' scale:='0.001' mass:='0.2'">
  
    <link name="tool_block">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_robot_description/meshes/tool_exchanger/Tool_block.stl"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_robot_description/meshes/tool_exchanger/Tool_block.stl"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>  
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001"/>
      </inertial>
    </link>

    <joint name="tool_block_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="tool_block"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

  </xacro:macro>

</robot>
