<?xml version="1.0" ?>
<!-- Parameterized SRDF for UR5e with selectable gripper.
     Usage: xacro ur.srdf.xacro gripper:=epick -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">
    <xacro:arg name="gripper" default="none"/>

    <!-- Common: ur_arm group, moveit_home, virtual_joint, arm self-collisions -->
    <xacro:include filename="$(find ur5e_moveit_config)/srdf/common.srdf.xacro"/>

    <!-- Gripper-specific: group, states, end_effector, collision pairs -->
    <xacro:if value="${'$(arg gripper)' == 'none'}">
        <xacro:include filename="$(find ur5e_moveit_config)/srdf/none.srdf.xacro"/>
    </xacro:if>
    <xacro:if value="${'$(arg gripper)' == 'epick'}">
        <xacro:include filename="$(find ur5e_moveit_config)/srdf/epick.srdf.xacro"/>
    </xacro:if>
    <xacro:if value="${'$(arg gripper)' == 'hande'}">
        <xacro:include filename="$(find ur5e_moveit_config)/srdf/hande.srdf.xacro"/>
    </xacro:if>
    <xacro:if value="${'$(arg gripper)' == '2fg7'}">
        <xacro:include filename="$(find ur5e_moveit_config)/srdf/2fg7.srdf.xacro"/>
    </xacro:if>
    <xacro:if value="${'$(arg gripper)' == 'pipettor'}">
        <xacro:include filename="$(find ur5e_moveit_config)/srdf/pipettor.srdf.xacro"/>
    </xacro:if>
</robot>
